.ft-table {
  width: 100%;
  .ft-table-before {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .ft-table-search {
    display: flex;
    align-items: center;

  }
  .ft-table-control {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .ft-table-after {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    .el-pagination { 
      margin-left: auto
    }
  }
}